<form action="connection" method="POST">
      pseudo:<br>
        <input type="text" name="pseudo"><br>
        password:<br>
        <input type="text" name="password"><br>
        <input type="submit" value="Submit">
</form>
