<form action="inscription" method="POST">
      pseudo:<br>
        <input type="text" name="pseudo"><br>
          password:<br>
            <input type="text" name="password"><br>
            email:
            <input type="text" name="email">
            <input type="submit" value="Submit">
</form>
